
* {
    box-sizing: border-box;border: 0;
}
html {
    margin: 0;
    height: 100vh;
}
body {
    background: linear-gradient(180deg, #85DBE0 0%, #003437 100%);
    width: 100%;
    font-size: 4vmin;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    color: #003437;
}
iframe {
    height: 100%;
}
.header {
    margin: 0 auto;
    text-align: center;
}
.header h1 {
    margin: 0;
}
.header a {
    color:white;
    text-decoration: none;
}
.header a:hover {
    color: #003437;
}
.description {
    width: 80vmin;
    border-radius: 5vmin;
    margin: 5vmin auto;
    padding: 5vmin;
    text-align: center;
    background: #85DBE0;
}
p {
    font-size: 3vmin;
}
@media (orientation: portrait) and (max-width: 500px) {
    p {
        font-size: 6vmin;
    }
    h1 a{
        font-size: 12vmin;
    }
    .description {
        max-height: 80vh;
        overflow: scroll;
    }

    
}